*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* styling nav start */

.nav {
    padding: 40px 0;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

.nav__logo:hover {
    color: #F72464;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.nav__link:hover {
    color: #F72464;
}

.nav__cart-link {
    position: relative;
    display: inline-block;
    padding: 5px;
    top: 5px;
}

.nav__cart-number {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    background-color: #F72464;
    text-align: center;
}

/* styling nav end */

/* styling header start */

.header {}

.header__row {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 670px;
}

.header__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 96px;
    color: #000000;
}

.header__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 60px;
}

.button {
    height: 51px;
    padding: 5px 33px 11px 33px;    
    background: #F72464;
    box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
    border-radius: 4px;
    font-family: 'Playfair Display', serif;    
    font-weight: 400;
    font-size: 26px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
}

/* styling header end */