*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    padding: 40px 0;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    
    background-color: rgb(243, 155, 155);
}

.nav__list{
    
    background-color: rgb(203, 243, 155);
}

.nav__item {

}

.nav__link {

}

.nav__cart {
    width: 40px;
    height: 40px;
    background-color: rgb(186, 175, 245);

}