*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* styling nav start */

.nav {
    padding: 40px 0;
}

.nav__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__logo {
    margin-right: 83px;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
}

.nav__logo:hover {
    color: #03ad4a;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.nav__link:hover {
    color: #03ad4a;
}

.nav__cart {
    margin-left: auto;
}

.nav__cart-link {
    position: relative;
    display: inline-block;
    padding: 5px;
    top: 5px;
}

.nav__cart-number {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    background-color: #03ad4a;
    text-align: center;
}

/* styling nav end */

/* styling header start */

.header__row {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 670px;
}

.header__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 96px;
    color: #000000;
}

.color {
    background: linear-gradient(100deg, rgb(249, 249, 3), rgb(92, 207, 92), rgb(249, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 60px;
}

.button {
    padding: 5px 33px 11px 33px;
    background-color: #03ad4a;
    box-shadow: 0px 4px 15px rgba(61, 143, 76, 0.35);
    border-radius: 4px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

.button:hover {
    box-shadow: 0px 4px 25px rgba(51, 117, 3, 0.671);
    background-color: #03ad4a;
}

/* styling header end */

/* styling section new start */

.new {
    background-image: url(./../images/chamomile.png);
    background-repeat: no-repeat;
    margin-right: 0;
    padding-top: 60px;
    padding-bottom: 70px;
}

.section__header {
    margin-bottom: 40px;
}

.section__header-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

.section__header-description {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #999999;
}

.section__header-description p {
    margin-top: 0;
}

.products__wrapper {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.product__link {
    display: inline-block;
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}

.product__link:hover {
    opacity: 0.8;
}

.product {
    max-width: 270px;
    text-align: center;
}

.product__img {
    display: block;
    margin-bottom: 12px;
}

.product__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.product__price {
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.product__price-old {
    margin-right: 10px;
    font-weight: 400;
    color: #999999;
    text-decoration: line-through;
}

.product__price-new {
    font-weight: 700;
    color: #fb0404;
}

.section__button-wrapper {
    text-align: center;
}

.button__outline {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #03ad4a;
    border-radius: 4px;
    padding: 10px 40px 11px 40px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

.button__outline:hover {
    background-color: #03ad4a;
    box-shadow: 0px 4px 25px rgba(51, 117, 3, 0.671);
    color: #fff;
}

/* styling section new end */

/* styling section info start */

.info-section {
    padding: 68px 0px;
    position: relative;
    background-image: url('./../images/info1-bg.jpg');
    background-size: cover;
    background-position: center;
}

.info-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.75);
}

.info-section__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.info-section__title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 1;
    color: #FFFFFF;
}

.button.info:hover {
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(251, 251, 250, 0.671);
    color: #03ad4a;


}

/* styling section info end */

/* styling section featured start */

.featured {
    padding-top: 70px;
    padding-bottom: 70px;
}

.featured__box--right {
    background-image: url(./../images/chamomile-1.png);
    background-repeat: no-repeat;
    background-position: 1692px 430px;
}

/* styling section featured end */

/* styling section blog start */

.blog {
    padding-top: 70px;
    padding-bottom: 45px;
}

.post {}

.post__img {}

.post__content {}

.post__title {}

.post__text {}


/* styling section blog end */